<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Bonjour <%= @order.user.first_name %> et merci d'avoir passé commande!</h1>
    <h2> Votre commande n° <%= @order.id %> a bien été validée. </h2>
  </body>
</html>