<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Bonjour <%= @user.first_name %>, bienvenue au Kitten Store thp</h1>
     <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur kittenstorethp.fr !
  </body>
</html>
  </body>
</html>