<div class ="container">
<% @items.each do|item|%>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.pinimg.com/originals/db/ed/eb/dbedeb0633d33285a2819cfa3d325e40.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= item.title%></h5>
      <p class="card-text"><%= item.description%></p>
      <a href="#" class="btn btn-primary"><%= item.price%></a>
      
      <button type="button" class="btn btn-success"><%= link_to 'show',item_path(item)%></button>
    </div>
  </div>
<%end%>
</div>