<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Adopt</a></li>
                        <li><a href="#">Grooming</a></li>
                        <li><a href="#">Buy a Kitten</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>The Kitten Store</h3>
                    <p>Thinking about adopting a cat or kitten? At The Kitten Store, we believe in matching the right cat to the right home. That's why we look at everything from your potential pet's personality to where you live - creating the perfect match for both cat and owner.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">©2021 The Kitten Store. All Rights Reserved</p>
        </div>
    </footer>
</div>