<div class="footer-basic ">
        <footer>
            <h2 class="footer_title" href="/">The Kitten Store</h2>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Contact</a></li>
                <li class="list-inline-item"><a href="/users/sign_up">Terms</a></li>
                <li class="list-inline-item"><a href="/users/sign_in">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Kitten Store © 2021</p>
        </footer>
    </div>